<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ozzmhmt.mardingunesi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".splashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MardiniTaniyalim"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GezilecekYerler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Oteller"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Yemekler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ElSanatlari"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BirFikrimVar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".İletisim"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".medreseler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".cami"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".kiliseler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".manastirlar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".kaleler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".muzeler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>